/* 	Dit bestand zal gebruikt worden indien de breedte van het scherm groter is dan 900px	*/

body{
	background: url('../images/body.png');
	font-family: Calibri;
	margin: 0 auto;

}

h1{
	color: #C50000;
}

ul{
	list-style-type: none;

}



main{
	font-size: 1em;
	width: 960px;
	margin: 0 auto;
	box-shadow: 2px 2px 2px #888888,  -2px 2px 2px #888888;;
	position: relative;
}

#Afbeelding{
	width: 960px;
	height: 345px;
	background: url('../images/amsterdam.jpg') no-repeat;
	box-shadow: 0px 2px 2px #888888;
}

.active{
	text-decoration: underline;
}

.article{
	height: 1320px;
}

.News{
	padding-left: 20px;
	width: 400px;
}

.welcomehead{
	padding-left: 20px;
}

.Welcome{
	padding-top: 40px;
	float: left;
	width: 400px;
	padding-left: 20px;
}

.Welcome::first-letter{
	font-size:2em;
	color:#C50000;

}


.Hotels{
	padding-top: 30px;
	width: 300px;
	float: right;
	position: relative;
	padding-right: 20px;
}

.Hotels p{
	padding-right: 5px;
	padding-top: 40px;
	float: right;
	text-align: center;
}

.slider{
	
	height: 400px;

}

#sliderimg{
	/*padding-top: 20px;*/
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -350px;
	
}

#arrleft{
	position: absolute;
	padding-top: 210px;
	padding-left: 30px;
}

#arrright{
	float: right;
	position: relative;
	padding-top: 210px;
	padding-right: 30px;
}

.imgtext{
	text-align: center;
	padding-top: 410px;
	color: #C50000;

}



header nav{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	height: 40px;
	margin: 0 auto;
	background: url('../images/nav.jpg'); 
	box-shadow: 2;
}

header nav li{
	font-family: calibri;
	font-size: 1.3em;
	text-align: center;
	height: 39px;
	margin-left: 30px;
	float: left;
	display: block;
	list-style: none;
	color: white;

}

header nav ul {
	margin: 0 auto;
	padding-top: 11px;
	height: 50px;
	line-height: 1em;
}


header nav a{
	color: white;

	text-decoration: none;
	padding: 10px 14px;
}

header nav a:hover{
	text-decoration: underline;
	}


footer{
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	height: 150px;
	background: url('../images/nav.jpg');
}

footer h3{
	color: white;
}

.find{
	padding-left: 20px;
	float: left;
}

.Contactus{
	float: left;
	display: block;
	padding-left: 30px;
	color: white;
}

.copyright{
	color: white;
	float: right;
	padding-top: 10px;
	padding-right: 20px;
}


#skyline{

float: right;
width: 500px;
padding-top: 26px;
z-index: -1;
}


/*Dit is de About pagina*/

.afbeeldingen{
	display: inline;
	float: right;
}

.afbeeldingen img{
	padding-top: 35px;
	padding-right: 20px;
	display: block;
}

/*.foto1{
	position: relative;
	padding-top: 20px;
	float: right;
	padding-right: 20px;
}

.foto2{
	display: block;
	position: relative;
	float: right;
	padding-right: 20px;
	padding-bottom: 20px;
}
*/
.AboutAmst{
	padding-left: 20px;
	width: 400px;
}

.Anne{

	padding-left: 20px;
	width: 400px;
}

.Coffeeshops{
	
	padding-left: 20px;
	width: 400px;
}

/*Dit is de Tourism pagina*/

.tourism1{
padding-top: 20px;
display: block;
}

.Activities{
	float: right;
	width: 400px;
	text-align: right;
	padding-right: 20px;
}

.boten{
	padding-left: 20px;
}

.tourism2{
	padding-top: 20px;
	display: block;
}

.disco{
	float: right;
	padding-right: 20px;
}

.Clubbing{
	padding-left: 20px;
	width: 400px;
}

.tourism3{
	padding-top: 20px;
	display: block;
}

.Museums{
	padding-right: 20px;
	padding-top: 20px;
	float: right;
	width: 400px;
	text-align: right;
}
.museum{
	padding-left: 20px;
	padding-top: 20px;
}

/*Dit is de Culture pagina*/

.culture1{
padding-top: 20px;
display: block;
}

.Theatre{
	float: right;
	width: 400px;
	text-align: right;
	padding-right: 20px;
}

.theatreimg{
	padding-left: 20px;
}

.culture2{
	padding-top: 20px;
	display: block;
}

.vondelparkimg{
	float: right;
	padding-right: 20px;
}

.Vondelpark{
	padding-left: 20px;
	width: 400px;
}

.culture3{
	padding-top: 20px;
	display: block;
}

.Rijksmuseum{
	padding-right: 20px;
	padding-top: 20px;
	float: right;
	width: 400px;
	text-align: right;
}
.rijksimg{
	padding-left: 20px;
	padding-top: 20px;
}

/*Dit is de Project pagina*/

.project{
	margin: 0 auto;
	text-align: center;
	width: 920px;
	height: 400px;
}

/* Dit is de Photos pagina */

.photos1{
	
}
.spanfoto{
	text-align: center;
}

.molens{
	padding-left: 20px;
}
.huizen{
	float: right;
	padding-right: 20px;
}
.spanclick{
	text-align: center;
}

.kanaal{
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}

/* Dit is de Contact pagina*/

.Contactheader{
	padding-left: 20px;
}

.Form{
	padding-left: 20px;
	width: 417px;
	padding-bottom: 100px;
}

label {
color: #C50000;
font-family: Calibri;
font-weight: bold;
display: block;
width: 150px;
float: left;
}

div.button input {
	float: right;
    background: url('../images/button.jpg') no-repeat;
    cursor:pointer;
    width: 180px;
    height: 44px;
    border: none;
}

.Map{
	padding-right: 20px;
	position: relative;
	display: block;
	float: right;
}